*{
    padding: 0;
    margin: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color:#ffffff;
  font-size: 16px;

}

nav{
    width: 100%;
    margin: 0 auto;
    height: 92px;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 219px;
    height: 32px;
    padding-left: 5vw;
    padding-top: 22px;
    font-size: 40px;
    font-weight: bold;
}
.lo{
    background: linear-gradient(to top left,yellow,rgb(248, 52, 189),rgb(144, 71, 187));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu{
    width: 218px;
    height: 19px;
    display: flex;
    padding-top: 28.5px;
    justify-content: space-between;
}
.bb{
    padding-right: 5vw;
    padding-top: 16px;
}
.bb:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(255,255,255,0.25);
}
.b1{
    width: 135px;
    height: 44px;
  background: linear-gradient(to top right,yellow,rgb(248, 52, 189),rgb(144, 71, 187));
  border-radius: 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
 border: none;
  display: flex;
  align-items: center;
  padding-left: 16px;
  gap: 6px;
}
.hamburger{
    display: none;
}
section{
    border-top: 1px solid #b28ae6;
    width: 100%;
    margin: 0 auto;
    height: 760px;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.des
{
    width: 550px;
    height: 558px;
   padding: 101px 0;
    margin: 0 auto;

}
.mic{
    width: 350px;
    height: 350px;
    padding-left:  100px;
    position: relative;
}
.downsec{
    width: 100%;
    display: block;
}
.upsec{
    position: absolute;
    top: 50%;
    left: calc(50% + 50px); 
    transform: translate(-50%, -50%);
    width: 90px;
}
.new-badge{
    box-sizing: border-box;
    width: 75px;
    height: 38px;
   position: absolute;
   top: 20px;
   right: -0.1px;
   padding: 7px 16px;
  background: #00ff88;
  color: #1A0B2E;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,255,136,0.7);
}

.text{
    width: 550px;
    height: 100px;
    padding-top: 40px;
}
.btn{

    width: 356px;
    height:44px;
    display: flex;
    justify-content: space-between;
    padding: 24px 97px 0 97px;
}
.t1{
    color: #ffffff;
    font-size: 60px;
    font-weight:bolder;
    height: 73px;
    text-align: center;
}
.t2{
    height: 19px;
    font-size: 16px;
    font-weight: 16px;
    padding-top: 8px;
}
.btn1{
    width: 201px;
    height: 44px;
    border-radius: 20px;
    border: none;
     background: linear-gradient(to top right,yellow,rgb(248, 52, 189),rgb(144, 71, 187));
     color: #ffffff;
     font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    padding-left: 20px;

}
.btn1:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(255,255,255,0.25);
}
.btn2{
    width: 147px;
    height: 44px;
    border-radius: 20px;
    color: #00FF88;
    background: none;
    border-color: #00FF88;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    padding-left: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn2:hover{
    background: #00FF88;
    color: #000;
    transform: translateY(-4px);
}

.about{
    width: 100%;
    margin: 0 auto;
    height: 646px;
    background-color:#1A0B2E ;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.ab{
     padding: 50px 48px 120px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ab1{
    width: 1200px;
    height: 58px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ab2{
    width: 1200px;
    height: 222px;
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
}
.box{
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
   
}
.abbox{
    
    display: flex;

}
.box1{
    width: 240px;
    height: 94px;
   text-align: center;
}
.bt{
    width: 240px;
    height: 58px;
    padding-bottom: 16px;
    color: #00FF88;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
.choose{
    width: 100%;
    margin: 0 auto;
    height: 1121px;
    background-color: #230E3D;
}

.choose-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  box-sizing: border-box;
  padding-top: 120px;
}
.chbox{
    box-sizing:border-box ;
    width: 1200px;
    height: 783px;
    margin: 0 auto;
}
.title{
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
   padding: 16px 0px;

}
.chbox1{
    width: 1200px;
    height: 480px;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}
.card{
    width: 790px;
    height: 480px;

}
.card1{
    width: 380px;
    height: 480px;
    border-radius: 20px;
    background-color:#2e1252d6;
    box-sizing: border-box;
    padding: 107.5px 40px;
}
.card2{
    width: 790px;
    height: 225px;
    border-radius: 20px;
    background-color:#2e1252d6;
    box-sizing: border-box;
    padding: 40px;
}
.card3{
    width: 790px;
    height: 225px;
    margin-top: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:#2e1252d6;
    padding: 40px;
}

.chbox2{
    width: 1200px;
    height: 273px;
    display: flex;
    gap: 30px;
   
}
.card4{
    width: 790px;
    height: 273px;
    border-radius: 20px;
    background-color:#2e1252d6;
    box-sizing: border-box;
     padding: 40px;
}
.card5{
    width: 380px;
    height: 273px;
  background-color:#2e1252d6;
  border-radius: 20px;
  box-sizing: border-box;
   padding: 40px;
}
.feature{
    width: 100%;
    margin: 0 auto;
    height: 1276px;
    background-color: #1A0B2E;
    box-sizing: border-box;
    padding-top: 120px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video{
width: 1200px;
height: 538px;
}
.vitext
{
    width: 1200px;
    height: 58px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
     
}
.cd{
    width: 1200px;
    height: 440px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
   
}
.cd1{
    width: 380px;
    height: 440px;
    background-color:#230E3D  ;
    border-radius: 20px;
    position: relative;
}
.back{
      width: 100%;
    display: block;
    width: 380px;
    height: 214px;
   border-top-left-radius: 20px ;
   border-top-right-radius: 20px;
}
.up{
    position: absolute;
    top: 25%;
    left: calc(35% + 50px); 
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
}
.cd2{
    width: 380px;
    height: 226px;
    background-color:#230E3D  ;
    border-radius: 20px;
}
.featitle
{
    width: 332px;
    height: 58px;
    margin-top: 24px;
    font-size: 24px;
    font-weight: bold;
}
.feadescri{
    width: 332px;
    height: 72px;
    margin-top: 12px;
}
.time{
    width: 332px;
    height: 24px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}
.host{
width: 1200px;
height: 378px;
margin-top: 120px;

}
.hosttitle{  
    width: 1200px;
    height: 58px;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.hostdetails{
    width: 1200px;
    height: 280px;
    background-color:#230E3D;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.hostpic{
    width: 200px;
    height: 200px;

}
.hosttext{
    width: 896px;
    height: 138px;
}
.name{
    font-size: 32px;
    font-weight: bold;
}
.hostex{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400px;
}
.social
{
    width: 184px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top:16px;
    gap: 8px;
}
.socb{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 border: 1px solid #b28ae6;
 box-sizing: border-box;
 padding: 10.5px 10px;
 background-color: ;
}
.fotter
{ 
    width: 100%;
    margin: 0 auto;
    height: 412px;
    background: url(./assets/footer-bg.png);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:120px ;
}
.fot{
    width: 1360px;
    height: 172px;
    text-align: center;

}
.logofotter{
    font-size: 90px;
    font-weight: bolder;
    margin-bottom: 32px;
   
}
.fottersocial{
    padding-left: 408px;
    width: 544px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
#fott1{
    display: flex;
    gap: 40px;
}
.fota{
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
    width: 544px;
    height: 24px; 
    display: flex;
    align-items: center;
    gap: 8px;
}
.copy{
    width: 1360px;
    height: 24px;
    margin-top: 32px;
    color: #fafafa;
}
.fott{
    width: 300px;
    display: flex;
    gap: px;
}
@media (min-width: 992px) {
  body{
    overflow-x: hidden;
  }
}
    @media (max-width: 576px) {

  /* ---------- NAV ---------- */
  nav{
    flex-direction: row;
    height: auto;
    padding: 16px 0;
  }

  .logo{
    font-size: 28px;
    padding-left: 20px;
    padding-top: 0;
  }

  .menu{
    position: absolute;
    top: 80px;
    right: 20px;
    background: #1A0B2E;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    display: none;
  }

  .bb{
    position: absolute;
    top: 80px;
    right: 20px;
    background: #1A0B2E;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    display: none;
    padding-right: 20px;
    padding-top: 0;
  }
    .hamburger{
    display: block;
    padding-right: 20px;
  }

  

  /* ---------- HERO SECTION ---------- */
  section{
    height: auto;
    background-size: auto;
  }
  .des{
    width: 100%;
    padding: 40px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .mic{
    width: 260px;
    height: 260px;
    padding-left: 0;
    margin: 0 auto;
  }
  .upsec{
    width: 70px;
    left: 50%;
  }
  .new-badge{
    right: 10px;
    top: 10px;
    font-size: 14px;
    height: auto;
  }
  .text{
    width: 100%;
    text-align: center;
  }
  .t1{
    font-size: 36px;
    height: auto;
  }
  .t2{
    font-size: 14px;
  }
  .btn{
    box-sizing: border-box;
    width: 354px;
    gap: 16px;
    padding: 24px 0 0;
    align-items: center;
  }
  /* ---------- ABOUT ---------- */
  .about{
    height: auto;
  }
  .ab{
    padding: 40px 20px;
  }
  .ab1{
    width: 100%;
    font-size: 32px;
  }
  .ab2{
    width: 100%;
    height: auto;
    font-size: 14px;
  }
  .box{
    width: 100%;
    height: auto;
    gap: 32px;
    padding-bottom: 60px;
    display: flex;
  }
  .abbox{
    display: flex;
    flex-direction: column;
  }
  .box2{
  display: flex;
  }
  /* ---------- WHY CHOOSE ---------- */
  .choose{
    height: auto;
    padding-bottom: 40px;
    padding-left: 15% ;
    box-sizing: border-box;
  }
  .choose-title{
    font-size: 32px;
    padding-top: 40px;
   padding-right: 17%;
  }
  .chbox{
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 16px;
  }
   .chbox1{
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 16px;
  }
  .chbox2{
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 16px;
     }
     .card1{
        width: 400px;
        height: 287px;
        box-sizing: border-box;
        padding: 24px;
     }
  .card,
  .card2,
  .card3,
  .card4,
  .card5{
    width:400px;
    height: auto;
  }
  /* ---------- FEATURED ---------- */
  .feature{
    height: auto;
    box-sizing: border-box;
    padding: 40px 20px;
  }
.back{
    width: 400px;
    height: 225px;
}
  .video{
    width: 400px;
    height: 1500px;
    gap: 16px;
  }
  .vitext,
  .cd{
    width: 100%;
  }
  .vitext{
    font-size:32px;
  }
  .cd{
    flex-direction: column;
    gap: 24px;
  }
  .cd1{
    width:400px;
    height: auto;
  }
  /* ---------- HOST ---------- */
  .host{
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hosttitle{
    font-size: 32px;
    width: 400px;
    margin-top: 60px;
  }
  .hostdetails{
    width: 400px;
    height: auto;
    flex-direction: column;
    padding: 24px;
    text-align: center;
  }
  .hostpic{
    margin: 0 auto;
  }
  .hosttext{
    width: 100%;
    height: auto;
  }
  .social{
    justify-content: center;
    box-sizing: border-box;
    padding-left: 50%;

  }
  /* ---------- FOOTER ---------- */
  .fotter{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }

  .fot{
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }

  .logofotter{
    font-size: 48px;
    padding-bottom: 30px;
  }

  .fottersocial{
    width: 255px;
    padding-left: 0;
    justify-content: center;
    gap: 16px;
    display: flex;
    flex-direction:column ;
  }
.fott{
    display: flex;
    flex-direction: column;
    width: 120px;
}
  .copy{
    width: 100%;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
  }
}
