*{
    padding: 0;
    margin: 0;

}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color:#ffffff;
  font-size: 16px;

}

nav{
    width: 1600px;
    height: 92px;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 219px;
    height: 32px;
    padding: 16px 0px 16px 200px;
    font-size: 40px;
    font-weight: bold;
}
.lo{
    background: linear-gradient(to top left,yellow,rgb(248, 52, 189),rgb(144, 71, 187));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu{
    width: 218px;
    height: 19px;
    display: flex;
    padding-top: 28.5px;
    justify-content: space-between;
}
.bb{
    padding:16px 200px 0px 0px;
}
.b1{
    width: 135px;
    height: 44px;
  background: linear-gradient(to top right,yellow,rgb(248, 52, 189),rgb(144, 71, 187));
  border-radius: 20px;
  color: #ffffff;
  font-weight: 600px;
  font-size: 16px;
  border: none;
}
section{
    border-top: 1px solid #b28ae6;
    width: 1600px;
    height: 760px;
    background: url(./assets/hero-bg.png);
}
.des
{
    width: 550px;
    height: 558px;
    padding: 101px 525px;

}
.mic{
    width: 350px;
    height: 350px;
    padding-left:  100px;
    

}

.text{
    width: 550px;
    height: 100px;
    padding-top: 40px;
}
.btn{
    width: 356px;
    height:44px;
    display: flex;
    justify-content: space-between;
    padding: 24px 97px 0 97px;
}
.t1{
    color: #ffffff;
    font-size: 60px;
    font-weight:bolder;
    height: 73px;
    text-align: center;
}
.t2{
    height: 19px;
    font-size: 16px;
    font-weight: 16px;
}
.btn1{
    width: 201px;
    height: 44px;
    border-radius: 20px;
    border: none;
     background: linear-gradient(to top right,yellow,rgb(248, 52, 189),rgb(144, 71, 187));
     color: #ffffff;
     font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    padding-left: 20px;
}
.btn2{
    width: 147px;
    height: 44px;
    border-radius: 20px;
    color: #00FF88;
    background: none;
    border-color: #00FF88;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    padding-left: 20px;

}
.about{
width: 1600px;
height: 646px;
background-color:#1A0B2E ;
}
.ab{
    padding: 50px 200px 120px 200px;
}
.ab1{
    width: 1200px;
    height: 58px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.ab2{
    width: 1200px;
    height: 222px;
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    padding-top: 16px;
}
.box{
    width: 1200px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 120px 200px;
}
.box1{
    width: 240px;
    height: 94px;
   text-align: center;
}
.bt{
    width: 240px;
    height: 58px;
    padding-bottom: 16px;
    color: #00FF88;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
/*.choose{
    width: 1600px;
    height: 1121px;
    background-color: #230E3D;
}*/
/*start*/
.choose{
    width: 1600px;
    height: 1121px;
    background-color: #230E3D;
}

.choose-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  box-sizing: border-box;
  padding-top: 120px;
}
.chbox{
    box-sizing:border-box ;
    width: 1200px;
    height: 783px;
    margin-left: 200px;
}
.title{
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
   padding: 16px 0px;

}
.chbox1{
    width: 1200px;
    height: 480px;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}
.card{
    width: 790px;
    height: 480px;

}
.card1{
    width: 380px;
    height: 480px;
    border-radius: 20px;
    background-color:#2e1252d6;
    box-sizing: border-box;
    padding: 107.5px 40px;
}
.card2{
    width: 790px;
    height: 225px;
    border-radius: 20px;
    background-color:#2e1252d6;
    box-sizing: border-box;
    padding: 40px;
}
.card3{
    width: 790px;
    height: 225px;
    margin-top: 30px;
      border-radius: 20px;
      box-sizing: border-box;
background-color:#2e1252d6;
padding: 40px;
}

.chbox2{
    width: 1200px;
    height: 273px;
    display: flex;
    gap: 30px;
   
}
.card4{
    width: 790px;
    height: 273px;
    border-radius: 20px;
    background-color:#2e1252d6;
    box-sizing: border-box;
     padding: 40px;
}
.card5{
    width: 380px;
    height: 273px;
  background-color:#2e1252d6;
  border-radius: 20px;
  box-sizing: border-box;
   padding: 40px;
}
/*end*/

.feature{
    width: 1600px;
    height: 1276px;
    background-color: #1A0B2E;
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 200px;
}
.video{
width: 1200px;
height: 538px;
background-color: #00FF88;

}
.vitext
{
    width: 1200px;
    height: 58px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
     
}
.cd{
    width: 1200px;
    height: 440px;
    background-color: blue;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
   
}
.cd1{
    width: 380px;
    height: 440px;
    background-color:#230E3D  ;
    border-radius: 20px;
}
.cd1 img{
    width: 380px;
    height: 214px;
    border-radius: 20px;
}
.host{
width: 1200px;
height: 378px;
margin-top: 120px;

}
.hosttitle{  
    width: 1200px;
    height: 58px;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.hostdetails{
    width: 1200px;
    height: 280px;
    background-color:#230E3D;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.hostpic{
    width: 200px;
    height: 200px;

}
.hosttext{
    width: 896px;
    height: 138px;
}
.name{
    font-size: 32px;
    font-weight: bold;
}
.hostex{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400px;
}
.social
{
    width: 184px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.social .a .img{
 width: 20px;
 height: 20px;
 border: 1px solid #b28ae6;
}
.fotter
{ 
    width: 1600px;
    height: 412px;
    background: url(./assets/footer-bg.png);
}